@{
    ViewData["Title"] = "Acerca De";
}

<section class="container my-5">
    <h1 class="mb-4 text-center">
        Acerca de Cookie-Ju
    </h1>
    <p class="lead text-center">
        Cookie-Ju nació de una mezcla perfecta: el amor por lo casero, el deseo de compartir algo rico, y la llegada de nuestra hija Julieta, la inspiración detrás del nombre y el motor de este proyecto familiar.

        Comenzamos este emprendimiento como una manera de generar un ingreso extra desde casa, sin dejar de estar presentes en los primeros años de Juli. Lo que empezó como una idea sencilla, creció gracias al cariño de quienes probaron nuestras galletas y se enamoraron de su sabor.

        Cada receta está hecha con dedicación, ingredientes seleccionados y ese toque especial que solo tiene lo hecho en casa. Porque más que vender galletas, en Cookie-Ju compartimos momentos sabrosos.

        Gracias por ser parte de esta historia.

    </p>
    <p class="text-center">

        Cookie-Ju
        Saladitas, crocantes y hechas con amor!
    </p>
</section>