
<h2>@ViewData["Title"]</h2>

<form method="get" action="@Url.Action("VerPedidos", "Pedido")">
    <label for="password">Clave Secreta:</label>
    <input type="password" id="password" name="password" />
    <button type="submit">Ver Pedidos</button>
</form>